.projectTitle {
  margin-bottom: 20px;
}

.projectImage {
  width: 80%;
  border: solid 1px #e8e2e2;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* @media (max-width: 426px) {
  .projectImage {
    width: 100%;
  }
} */