.container {
  background-color: #25282f;
  overflow: hidden;
  padding: 30px;
}

.codeInput {
  height: 45%;
  width: 90%;
}

.code {
  outline: none;
  background-color: transparent;
  color: #f89f05;
  font-size: 1rem;
  border: none;
  font-family: monospace;
}

@media (max-width: 769px) {
  .container {
    padding: 10px;
  }

  .codeInput {
    height: 100px;
  }
}

@media (max-width: 426px) {
  .container {
    padding: 10px;
  }

  .codeInput {
    display: flex;
    align-items: center;
  }
}