.output {
  height: 50%;
  color: #ffffff;
  padding: 10px;
  overflow-y: scroll;
}

.output::-webkit-scrollbar {
  display: none;
}

.output h3 {
  margin-bottom: 20px;
}

@media (max-width: 769px) {
  .output {
    height: 300px;
  }
}