.docCodeCont {
  margin-bottom: 20px;
}

.docCode {
  font-family: monospace;
  background-color: #202329;
  color: #f89f05;
  display: inline;
  padding: 10px 20px;
  border-radius: 5px;
}

.docOutput {
  font-family: monospace;
  background-color: #202329;
  color: #fff;
  display: inline;
  padding: 10px 20px;
  border-radius: 5px;
}

.darkCode {
  font-family: monospace;
  background-color: #000;
  color: #f89f05;
  display: inline;
  padding: 10px 20px;
  border-radius: 5px;
}

.darkOutput {
  font-family: monospace;
  background-color: #000;
  color: #fff;
  display: inline;
  padding: 10px 20px;
  border-radius: 5px;
}