.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 50% 30%;
}

.main {
  padding: 30px;
  overflow-y: auto;
}

main p {
  max-width: 80%;
}

.main::-webkit-scrollbar {
  width: 5px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

.main h1, .main > p {
  margin-bottom: 20px;
  text-wrap: pretty;
}

@media (max-width: 1025px) {
  .main {
    padding: 20px;
  }

  .main p {
    max-width: 90%;
  }
}

@media (max-width: 769px) {
  .layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 60% 30%;
  }

  .main {
    padding: 10px;
  }

  .main p {
    max-width: 100%;
  }
}

@media (max-width: 426px) {
  .layout {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  /* .main {
    padding: 10px;
  }

  .main p {
    max-width: 100%;
  } */
}
